body{
    margin:0px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
h1{
    margin-top: 10px;
    font-family: fantasy;
    font-size: 2em;
    border-bottom: 2px lightgreen solid;
    border-right: 2px lightgreen solid;
    width:250px;
    text-align: center;
    box-shadow: 4px 4px 4px ;
}
img{
    width:350px;
    height:200px;
    margin:10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1)
}
